@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

.bg-container {
    background-image: url('/Proyecto_web/image/maxresdefault.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.text-container,
.text-container2,
.text-container3 {
    display: block;
    margin-bottom: -25px;
    margin-left: 90px;
    animation: fadeIn 1s ease-out;
}

.text,
.text2,
.text3 {
    color: #ffffff;
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
    padding: 5px;
    letter-spacing: 1px;
    font-weight: 200;
}

.text2 {
    font-size: 35px;
    font-weight: 400;
}

.text3 {
    color: #526CEB;
    font-size: 40px;
    font-weight: 600;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.logo img {
    width: 30px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: #000000;
}

nav ul {
    list-style: none;
    display: flex; /* Use flexbox to arrange items horizontally */
    justify-content: flex-end;
}

nav ul li {
    margin-right: 22px;
    justify-content: flex-end;
    display: inline; /* Make the list items inline */
}

nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: 1px;
    transition: 0.5s;
}


.cuenta {
    display: flex;
    align-items: center;
}

.cuenta img {
    width: 48px;
    height: 50px;
    margin-left: 10px;
}

.personal_info {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

nav ul li a.btn-login {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    transition: 0.5s;
}

nav ul li a.btn-login:hover {
    background-color: #1c1c1c;
}

form {
    max-width: 400px;
    margin: -160px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 80px rgba(228, 8, 8, 0.1);
}

form input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #2a2a2a;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #1c1c1c;
}

section {
    margin: 20px auto;
}

.display {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
    text-decoration: none;
    color: #677eff;
    bottom: 5px;
}

a:hover {
    text-decoration: underline;
}

footer {
    background-color: #677eff;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.additional-info {
    margin-top: 20px;
}

.additional-info table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Sombra para resaltar la tabla */
    border-radius: 8px;
    overflow: hidden; /* Para redondear las esquinas */
}

.additional-info th,
.additional-info td {
    border: 1px solid #ddd;
    padding: 22px;
    text-align: left;
}

.additional-info th {
    background-color: #f2f2f2;
}

.additional-info td {
    background-color: #fff;
}

.additional-info tr:hover {
    background-color: #f5f5f5; /* Cambia el color de fondo al pasar el ratón sobre una fila */
}

/*Estilos para perfil_user.php*/

.profile-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
}

.profile-icon {
    margin-right: 20px;
    margin-left: 100px;
}

.profile-icon img {
    width: 50px;
}

.personal_info p {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-bottom: 10px;
}

.personal_info p strong {
    margin-right: 10px;
}

.personal_info a {
    text-decoration: none;
    color: #677eff;
    margin-left: 5px;
}

.personal_info a:hover {
    text-decoration: underline;
}

/*Estilo para el resultado de búsquedas */
.result-container {
    padding: 20px;
    text-align: center;
}

.result-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 300px; /* Ajusta el ancho máximo según sea necesario */
    margin: 0 auto; /* Centra el result-item en el contenedor */
}

.result-item img {
    max-width: 100%;
    height: auto;
    border-radius: 4px;
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.result-item button {
    background-color: #2a2a2a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
    margin-right: 5px; /* Espacio entre los botones */
}
.result-item button:hover {
    background-color: #1c1c1c;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Ajusta el ancho de las columnas según sea necesario */
    grid-gap: 20px;
    padding: 20px;
}

.song-item {
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px; /* Ajusta según sea necesario */
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.song-item-img {
    max-width: 100%; /* Ajusta el tamaño de la imagen */
    height: auto;
    border-radius: 4px;
}

.song-item h3 {
    font-size: 14px; /* Ajusta el tamaño del título según sea necesario */
    margin-bottom: 5px;
}

.song-item button {
    background-color: #2a2a2a;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 5px;
}

.song-item button:hover {
    background-color: #1c1c1c;
}

